<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'css/base-responsive.css' %}" />
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

	<script src="{% static 'js/popper.min.js' %}"></script>

	<!-- <style type="text/css">
		.bar1,
		.bar2,
		.bar3 {
			width: 25px;
			height: 3px;
			background-color: #fff;
			margin: 5px 0;
			transition: 0.4s;
		}

		.change .bar1 {
			-webkit-transform: rotate(-45deg) translate(-5px, 5px);
			transform: rotate(-45deg) translate(-5px, 5px);
		}

		.change .bar2 {
			opacity: 0;
		}

		.change .bar3 {
			-webkit-transform: rotate(45deg) translate(-5px, -7px);
			transform: rotate(45deg) translate(-5px, -7px);
		}
	</style> -->




	{% csrf_token %}
	{% block title %}
	<title>Blockchain Demo Projects | By NIC</title>
	{% endblock title %}
</head>

<body>
	<!-- Accessibility -->
	<div class="container d-flex clearfix" id="b-accessibility">
		<div class="b-ministryname">
			<div class="text-right d-inline-block font-weight-bold b-acc-goi pr-sm-2">
				<a href="https://www.india.gov.in/" target="_blank"><span>Government of India</span></a>
			</div>
			<div class="d-inline-block font-weight-bold b-acc-ministry pl-sm-2">
				<a href="https://www.meity.gov.in/" target="_blank"><span>Ministry of Electronics and Information
						Technology</span></a>
			</div>
			<div class="d-inline-block font-weight-bold b-acc-ministry pl-sm-2">
				<a href="https://www.nic.in/" target="_blank"><span>National Informatics Centre</span></a>
			</div>
		</div>

		<div class="ml-auto d-flex b-acc-icons">
			<div class="align-self-center">

				<div class="d-inline-block h-100 px-3">
					<img src="{% static 'images/icons/ico-site-search.png' %}" alt="site search icon"
						title="Site search" class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">

					
				</div>

				<div class="d-inline-block h-100 px-3 dropdown">
					<img src="{% static 'images/icons/ico-social.png' %} " alt="social sites links" title="Social links"
						class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">

					<div class="dropdown-menu b-social-dropdown" style="min-width: 50px; width: 50px">
						<a href="javascript:void(0)" class="dropdown-item"> <span style="display:none;">Facebook
								link</span><span class="fab fa-facebook-f"></span> </a>
						<a href="javascript:void(0);" class="dropdown-item"> <span style="display:none;">Twitter
								link</span><span class="fab fa-twitter"></span> </a>
						<a href="javascript:void(0)" class="dropdown-item"> <span style="display:none;">Youtube
								link</span><span class="fab fa-youtube"></span> </a>
					</div>
				</div>


				<div class="d-inline-block h-100 px-3">
					<a href="#b-homedb" class="align-self-center b-skiptomain" title="Skip to main content">
						<img src="{% static 'images/icons/ico-skip.png' %} " alt="skip to main content icon">
					</a>
				</div>

				<div class="d-inline-block h-100 px-3">
					<img src="{% static 'images/icons/ico-accessibility.png' %} " alt="accessibility icon"
						title="Accessibility Dropdown" class="dropdown-toggle" data-toggle="dropdown"
						style="cursor: pointer;">

					<div class="dropdown-menu b-accessibility-dropdown" style="min-width: 50px; width: 50px">
						<a href="javascript:void(0);" class="dropdown-item" title="Increase font size"> <span
								class="font-weight-bold"> A<sup>+</sup> </span> </a>
						<a href="javascript:void(0)" class="dropdown-item" title="Reset font size"> <span
								class="font-weight-bold"> A </span> </a>
						<a href="javascript:void(0);" class="dropdown-item" title="Decrease font size"> <span
								class="font-weight-bold"> A<sup>-</sup> </span> </a>
						<a href="javascript:void(0)" class="dropdown-item bg-dark" title="High contrast"> <span
								class="font-weight-bold text-white"> A </span> </a>
					</div>
				</div>

				<div class="d-inline-block h-100 px-3">
					<a href="site-map.html" title="Sitemap">
						<img src="{% static 'images/icons/ico-sitemap.png' %} " alt="sitemap icon">
					</a>
				</div>


			</div>

		</div>
	</div>

	<!-- Header -->
	<div class="container clearfix" id="b-header">
		<div class="float-left d-flex h-100">
			<img src="{% static 'images/emblem-dark.png' %}" class="align-self-center b-emblem-image"
				title="National Emblem of India" alt="emblem of india logo">
		</div>

		<div class="float-left d-flex h-100">
			<h2 class="align-self-center pl-3 b-appname"><span class="font-weight-bold">Blockchain Demo Projects</span> <br><span
					class="b-appfullname"></span></h2>
		</div>
	</div>

	<!-- Global Navigation -->
	<div class="globalnav-bg">
		<div class="container">
			<nav class="navbar navbar-expand-sm navbar-dark px-0">
				<div class="d-flex w-100 b-nav-mobile">
					<button class="navbar-toggler align-self-center b-btn-toggler" type="button" data-toggle="collapse"
						data-target="#collapsibleNavbar" onclick="myFunction(this)">
						<span style="display:block;">Menu</span>
						<div>
							<div class="bar1"> PIMS</div>
							<div class="bar2">EIS</div>
							<div class="bar3">LAHU</div>
						</div>
					</button>
					<button class="btn btn-outline-light align-self-center ml-auto b-btn-login" type="button" data-toggle="modal" data-target="#login-modal">
						Log In
					</button>
				</div>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav main-menu d-flex">
						{% block h_menu %}
						{% endblock h_menu %}
						<li class="nav-item d-block ml-auto b-loginbut" data-toggle="modal" data-target="#login-modal">
							<a class="nav-link" href="javascript:void(0);"> </a>
						</li>
					</ul>
				</div>

			</nav>
		</div>
	</div>

	<script>
		function myFunction(x) {
			x.classList.toggle("change");
		}
	</script>

	{% block content %}
	{% endblock content%}

	<div class="footer-bs">
		<footer class="container">
			<div class="row">
				<div class="row col-md-7 col-sm-12 footer-nav">
					<p class="col-md-12">Quick Links —</p>
					<div class="col-sm-6">
						<ul class="list">
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Accessibility Options</a></li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="list">
							<li data-toggle="modal" data-target="#feedback-modal"><a
									href="javascript:void(0)">Feedback</a></li>
							<li><a href="#">Copyright Policy</a></li>
							<li><a href="javascript:void(0);">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-8 footer-social d-flex">
					<div class="d-inline-block align-self-center">
						<p class="bg-light"><img src="{% static 'images/NIC.png ' %}" alt="NIC logo"></p>
						<p class="bg-light mb-0"><img src="{% static 'images/digital-india.png' %}"
								alt="digital india logo"></p>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 footer-ns d-flex">
					<a class="backtotop align-self-center d-flex text-center text-decoration-none text-white"
						title="Back to top" href="#b-accessibility">
						<span style="display:none;">Back to top</span>
						<span style="font-size: 24px;" class="fas fa-angle-up align-self-center mx-auto"></span>
					</a>
				</div>
			</div>
			<div class="text-center mt-5 b-footer-credit" style="color: #FFF!important">
				This website belongs to <a class="font-weight-bold" href="https://www.nic.in/">National Informatics
					Centre</a>,
				<a class="font-weight-bold" href="https://www.meity.gov.in/">Ministry of Electronics and Information
					Technology</a>,
				<a class="font-weight-bold" href="https://www.india.gov.in/">Govt. of India.</a>
			</div>
		</footer>
	</div>
</body>

</html>