{% extends 'base_admin.html' %}
{% load static %}
{% block title %}
<title>Blockchain | NIC PIMS </title>
{% endblock title %}

{% block content %}
<div class="form_order px-5 mt-3">
    {% if error %}
    {{    errorCode }}
    {{    errorText }}
    {% else %}
    <!-- {{table|safe}} -->
    <div class="mt-3 ">
        <div class="row" style="overflow: auto">
            <div class="ml-3 col-lg-11" >
                <table id="data" class="display table table-bordered table-hover">
                    <caption>Order Details from Blockchain</caption>
                    <thead>
                        {% for header in tabel_headers %}
                        <th>{{ header }}</th>
                        {% endfor %}
                        <th> Actions </th>
                    </thead>
                    <tbody>
                      
                        <tr>
                            {% for field in table_row %}
                            <td> {{field}} </td>
                            {% endfor %}
                            <td><a href="{% static 'files/tempfiletoday.pdf' %}" target="_blank">view Order</a></td>
                        </tr>
                       
                    </tbody>
    
                </table>
            </div>
        </div>
    </div>

    {% endif %}

</div>
{% endblock content %}