{% extends 'base.html' %} {% block title %}
<title>Create Employee</title>
{% endblock title %} {% block h_menu %}
<li class="nav-item d-block"><a href="#" class="nav-link">Admin</a></li>
<li class="nav-item d-block"><a href="#" class="nav-link active">EIS</a></li>
<li class="nav-item d-block"><a href="#" class="nav-link">Posting</a></li>
{% endblock h_menu %} {% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<link
  rel="stylesheet"
  href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
/>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container">
  <form method="POST" class="post-form">
    {% csrf_token %}
    <div class="container">
      <div class="card">
        <div class="card-header bg-info text-white">Employee Registration</div>
        <div class="card-body">
          <!-- <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Create New Employee</h3>
    <h5>Enter New Employee Details</h5>
    </div>
  </div> -->

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Name:</label>
            <div class="col-sm-4">{{ form.name }}</div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee Code:</label>
            <div class="col-sm-4">{{ form.emp_id }}</div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date of Birth:</label>
            <div class="col-sm-4">
              {{ form.birth_date }}
              <em class="fa fa-calendar fa-lg"></em>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              >Employee Joining Date:</label
            >
            <div class="col-sm-4">
              {{ form.joining_date }}
              <em class="fa fa-calendar fa-lg"></em>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"
              >Employee Retirement Date:</label
            >
            <div class="col-sm-4">
              {{ form.retirement_date }}
              <em class="fa fa-calendar fa-lg"></em>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Designation:</label>
            <div class="col-sm-4">{{ form.designation }}</div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Post:</label>
            <div class="col-sm-4">{{ form.post }}</div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-info">Create</button>
              <a href="/employees" class="btn btn-info">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% block scripting %}
<script>
  $(function () {
    $("#id_birth_date").datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1950:2050",
      dateFormat: "yy-mm-dd",
      defaultDate: "24-09-2019",
    });
  });

  $(function () {
    $("#id_joining_date").datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1950:2050",
      dateFormat: "yy-mm-dd",
      defaultDate: "24-09-2019",
    });
  });

  $(function () {
    $("#id_retirement_date").datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "2000:2100",
      dateFormat: "yy-mm-dd",
      defaultDate: "24-09-2019",
    });
  });
</script>

<script>
  $(document).ready(function () {
    $(".dropdown-toggle").dropdown();
  });
</script>
{% endblock %} {% endblock content %}
