{% extends 'base_admin.html' %}
{% load static %}

{% block title %}
<title>Dashboard</title>
{% endblock title %}

{% block content %}
<div class="mt-3 ">
    <div class="row">
        <div class="ml-3 col-lg-11">
            <table id="data" class="display table table-bordered table-hover">
                <caption>Transfer summery report</caption>
                <thead>
                    {% for header in header_list %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for value in all_result %}
                    <tr>
                        {% for field in value %}
                        <td> {{field}} </td>
                        {% endfor %}
                        
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'css//jquery.dataTables.min.css' %}">
<script src="{% static 'js//jquery-3.5.1.js' %}">      </script>
<script src="{% static 'js//jquery.dataTables.min.js' %}">      </script>
<script type="text/javascript">

    $(document).ready(function () {
        $.noConflict();
        $('#data').DataTable();
    });

</script>
{%endblock content %}