[Unit]
Description=Gunicorn instance to serve Django application required Admin
Requires=adminapp.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/adminApp/PIMS/
Environment="PATH=/var/www/adminApp/.env/bin"
ExecStart=/var/www/adminApp/.env/bin/gunicorn --config gunicorn_config.py PIMS.wsgi:application

[Install]
WantedBy=multi-user.target
